:root {
    --ppp-db: #003B6D;
    --ppp-lb: #6699CC;
    --ppp-dg: #676767;
    --ppp-s: #BDBDBD;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
    background-image: linear-gradient(var(--ppp-lb), var(--ppp-db));
    color: white;
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
}

.ppp-logo {
    width: 100%;
}

.ppp-slogan {
    text-align: center;
    padding-top: 5px;
}

#ppp {
    font-style: bold;
    color: white;
}

.navbar {
    overflow: hidden;
    background-image: linear-gradient(black);
    margin-left: 0;
    margin-right: 0;
}

.nav-link {
    color: white;
    height: 100%;
    display: block;
    margin: 0px 0px 0px 10px;
}

.nav-link:hover {
    background-color: var(--ppp-dg);
    color: white;
}

input {
    font-style: italic;
}

.btn {
    background-color: var(--ppp-dg);
    color: white;
}

.btn:hover {
    background-color: var(--ppp-s);
    color: black;
}

.div-left,
.div-right {
    height: inherit;
    min-width: 10%;
    background-image: linear-gradient(to right, var(--ppp-s), white, var(--ppp-s));
    flex-grow: 1;
}

.div-body-content {
    display: inline-flex;
}

.div-main-content {
    width: 100%;
    padding-top: 15px;
    flex-grow: 75%;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.active {
    background-color: var(--ppp-dg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--ppp-db);
}

.bg-db {
    background-color: var(--ppp-db);
}

.bg-lb {
    background-color: var(--ppp-lb);
}

.fc-db {
    color: var(--ppp-db);
}

.fc-s {
    color: var(--ppp-s);
}

.w-5 {
    width: 5%;
}

.link-light {
    color: white;
    text-decoration: none;
}

.link-light:hover {
    text-decoration: underline;
}

footer {
    margin-top: -5px;
    padding: 10px;
}

.copyright {
    font-size: 9px;
}

.mb-6 {
    margin-bottom: 4rem !important;
}

.ml-1 {
    margin-left: 1rem !important;
}

.mr-1 {
    margin-right: 1rem !important;
}

.mp-0 {
    margin: 0;
    padding: 0;
}

.mw-50 {
    max-width: 50%;
}

.min-h400px {
    height: 400px;
}

.h-100px {
    min-height: 100px;
}